# Do pip install -r requirements.txt to install the following. I recommend to
# do this in a virtual environment.
###### Requirements without Version Specifiers ######

bs4
jupyter
matplotlib
numpy
pytest
requests

# Natural Language Processing
nltk

#scikit-learn
#scipy
#sympy

